@charset "UTF-8";

/* Global settings and configurations */
@import url(setting/fonts.css); /* Import font definitions */
@import url(setting/vars.css); /* Import CSS variables */
@import url(setting/reset.css); /* Import CSS reset styles */

/* Page sections and components */
@import url(section/header.css); /* Header section styles */
@import url(section/intro.css); /* Intro section styles */
@import url(section/skill.css); /* Skill section styles */
@import url(section/site.css); /* Site section styles */
@import url(section/port.css); /* Portfolio section styles */
@import url(section/contact.css); /* Contact section styles */
@import url(section/footer.css); /* Footer section styles */
